{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home - Remove.bg{%endblock%}</title>
</head>
<body>
    <h1>Upload an Image</h1>
    <form method="POST" enctype="multipart/form-data">
        {% if 'username'  in session %}
        <input type="file" name="image" accept="image/*" required>
        <br><br>
        <input type="submit" value="Upload">
        {% endif %}
    </form>
</body>
</html>
{% endblock %}